<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${employer.name}"></title>
</head> -->

<head th:replace="template.html :: header('Home Page')">
</head>
<body>
<!-- <th:block th:if="${user != null}"> -->
<header th:insert="template.html :: topmenu"> </header>

<div class="row">
    <div class="col-lg-8 mt-5">
        <form th:action="@{/job/search}" method="get" th:object="${searchRequest}">
            <div class="form-group row mt-3">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="title" autocomplete="off" placeholder="Key job title" name="keyword" th:value="*{keyword}"/>
                </div>
                <div class="col-sm-4">
                    <select  name="city" th:field="*{city}">
                        <option value="">-Chọn Thành Phố-</option>
                        <option  th:each="state : ${T(com.example.demo.model.City).values()}" th:value="${state}"
                                th:text="${state.label}">
                        </option>
                    </select>
                </div>
                <div style="margin-left: -150px" class="col-sm-2">
                    <button  class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table id="job"  class="table table-striped table-bordered ">
    <thead class="table-light">
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Employer</th>
        <th>City</th>
        <th>Description</th>
        <th>Application Total</th>
    </tr>

    </thead>
    <tbody id="listJob">
    <tr th:each="job, iStat:${jobs}">
        <th scope="row" th:text="${iStat.index}+1"></th>
        <td><a th:href="|/job/${job.id}|" th:text="${job.title}">Title</a></td>
        <td th:each="employer, iStat:${employers}" th:if="${employer.id.equals(job.getEmployer().getId())}" th:text="${employer.name}"></td>
        <td th:text="${job.city.label}">City</td>
        <td th:text="${job.description}">Description</td>
        <td th:utext="${totalApplicantMap.get(job) == null} ?  0 : ${totalApplicantMap.get(job)}"></td>
        <!-- <td th:each="count, iStat:${countApplicant}" th:if="${count.getJob().getId().equals(job.id)}" th:text="${result+1}"></td> -->
    </tr>
    </tbody>
</table>
<header th:replace="template.html :: footer"> </header>
<!-- </th:block> -->
<!-- <th:block th:if="${user == null}">
  <h1>Home Page</h1>
  <a href="/login">Login</a></br></br>  
  <a href="/register">Register</a></br></br>  
</th:block> -->
</body>
</html>