<!DOCTYPE html>
<html lang="en">
  <head th:replace="template.html :: header('${employer.name}')">
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/employer">List All Employer</a>
    </div>
  </nav>
    <h1 th:text="${employer.name}"></h1>
    <img th:src="|/logo/${employer.logo_path}|" width="200px"/>
    <h2>List Jobs</h2>
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">City</th>
              <th scope="col">Action1</th>
              <th scope="col">Action2</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="job, iStat:${jobs}">
              <th scope="row" th:text="${iStat.index} +1"></th>
              <td th:text="${job.title}">Title</td>
              <td th:text="${job.description}">Description</td>
              <td th:text="${job.city}">City</td>
              <td><a th:href="|/job/update/${employer.id}/${job.id}|">Update</a></td>
              <td><a th:href="|/job/delete/${job.id}|">Delete</a></td>
            </tr>
            
          </tbody>
        </table>
      </div>  

      <a th:href="|/job/add/${employer.id}|">Add New JOB</a><br>
      <a th:href="|/employer|">List All Employer</a> 
</body>
</html>