<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB HUNT</title>
    <style>
        a {
            text-decoration: none;
        }

        button {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <h1>Job Hunt</h1>
    <button><a href="./employer">Danh sách nhà tuyển dụng</a></button><br><br>
    <button><a href="./job">Danh sách công việc</a></button><br><br>
    <button><a href="./applicant">Danh sách ứng viên</a></button>
</body>
</html>