<!DOCTYPE html>
<html lang="en">
  <head th:replace="template.html :: header('List Applicant of JOB'+ ${job.title} )">
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/job">List Job</a>
    </div>
  </nav>
    <h2>List Applicants</h2>
    Job: <h4 th:text="${job.title}">Name</h4><br>
    Mô tả: <h4 th:text="${job.description}">Description</h4><br>
    Địa Chỉ: <h4 th:text="${job.city}">Description</h4><br>
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Skill</th>
              <th scope="col">Action 1</th>
              <th scope="col">Action 2</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="applicant, iStat:${applicants}">
              <th scope="row" th:text="${iStat.index} +1"></th>
              <td th:text="${applicant.name}">Name</td>
              <td th:text="${applicant.email}">Email</td>
              <td th:text="${applicant.mobile}">Moble</td>
              <td th:text="${applicant.skill}">Skill</td>
              <td><a th:href="|/applicant/update/${job.id}/${applicant.id}|">Update</a></td>
              <td><a th:href="|/applicant/delete/${applicant.id}|">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>