<!DOCTYPE html>
<html lang="en">
  <head th:replace="template.html :: header('List JOB')">
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">HomePage</a>
    </div>
  </nav>
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">City</th>
              <th scope="col">Company</th>
              <th scope="col">Applicant</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="job, iStat:${jobs}">
              <th scope="row" th:text="${iStat.index} +1"></th>
              <td th:text="${job.title}">Title</td>
              <td th:text="${job.description}">Description</td>
              <td th:text="${job.city}">City</td>
              <td><a th:href="|/employer/${job.emp_id}|">View Detail</a></td>
              <td><a th:href="|/applicant/add/${job.id}|">Add New Applicant</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <a th:href="|/|">HomePage</a><br>
      <a th:href="|/employer|">List All Employer</a><br>
      <a th:href="|/applicant|">List All Applicant</a> 
</body>
</html>